// scss-docs-start theme-color-variables Customize your color option here
:root,
[data-bs-theme=light] {
  --bs-primary: #0466c8;
  --bs-primary-bg-subtle: #e0eeff;
  --bs-primary-bg-dark: #0353a4;
  --bs-secondary: #c3d2de;
  --bs-secondary-bg-subtle: #dae5ee;
  --bs-success: #009688;
  --bs-success-bg-subtle: #d5f9f5;
  --bs-success-bg-dark: #0ca799;
  --bs-info: #106BDA;
  --bs-info-bg-subtle: #cfe1f8;
  --bs-info-bg-dark: #0b63d0;
  --bs-warning: #fe8815;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-warning-bg-dark: #f0b503;
  --bs-danger: #e43f0b;
  --bs-danger-bg-subtle: #ffefe9;
  --bs-danger-bg-dark: #f1511f;

  --bs-light: #f4f5f7;
  --bs-dark: #13293D;
  --bs-dark-bg-subtle: #1b344a;
  --bs-cyan: #04765f;
  --bs-cyan-bg-subtle: #cdf1e9;
  --bs-cyan-bg-dark: #036f59;
  --bs-purple: #6363f5;
  --bs-purple-bg-subtle: #dedeff;
  --bs-purple-bg-dark: #5b5bed;
  --bs-primary-rgb: 4, 102, 200;
  --bs-secondary-rgb: 195, 210, 222;
  --bs-success-rgb: 0, 150, 136;
  --bs-info-rgb: 16, 107, 218;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 228, 63, 11;
  --bs-cyan-rgb: 4, 118, 95;
  --bs-purple-rgb: 99, 99, 245;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 19, 41, 61;
  --bs-bordercolor: #dfe0e4;
  --bs-navcolor: #191e3b;
  --bs-placeholder: #191e3b;
  --body-font-family: 'Jost', sans-serif;
  --heading-font-family: 'Jost', sans-serif;
  --bs-body-color: #2d3033;
  --paragraphColor: #5d6f7d;
  --headingColor: #191e3b;
  --fontSize: 15px;
  --bs-iconcolor: #bacad9;
  --bs-text-muted: #455873;
  --bs-footer-bg: #0e243a;
  --bs-footexr-text: #5d6f7d;
}

// Import Font Family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');